{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Blog</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include "navbarproject.html" %}
    {% include "socialbar.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylestory3.css' %}" />


    <!--
            CSS
            ============================================= -->
            <link rel="stylesheet" href="css/linearicons.css">
            <link rel="stylesheet" href="css/owl.carousel.css">
            <link rel="stylesheet" href="css/font-awesome.min.css">
            <link rel="stylesheet" href="css/nice-select.css">          
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/bootstrap.css">
            <link rel="stylesheet" href="css/main.css">

    <!-- Mobile Specific Meta -->
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Favicon-->
     <link rel="shortcut icon" href="img/fav.png">
      <!-- Author Meta -->
      <meta name="author" content="colorlib">
      <!-- Meta Description -->
      <meta name="description" content="">
      <!-- Meta Keyword -->
      <meta name="keywords" content="">
      <!-- meta character set -->
      <meta charset="UTF-8">

</head>

<!--HTML -->

<body>

    <div style="background-color: white">
    <h1>My Schedule</h1>
    <table class="table">
        <thead>
            <th>Tanggal</th>
            <th>Waktu</th>
            <th>Kategori</th>
            <th>Tempat</th>
            <th>Nama Kegiatan</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in project %}
            {% if i.position == 'Anonymous' or i.title == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.date}} </td>
                <td> {{i.time}} </td>
                <td> {{i.kategori}} </td>
                <td> {{i.tempat}} </td>
                <td> {{i.namakegiatan}} </td>

            </tr>             
            {% endfor %}
        </tbody>
    </table>
    <a href="/addproject/" class="btn btn-primary">Add Project</a>
    <a href="/deleteproject/" class="btn btn-primary">Delete Project</a>
    </div>


</body>
</html>


