{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Blog</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% include "navbar.html" %}
	{% include "socialbar.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'stylestory3.css' %}" />


	<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/nice-select.css">			
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/main.css">

	<!-- Mobile Specific Meta -->
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- Favicon-->
	 <link rel="shortcut icon" href="img/fav.png">
	  <!-- Author Meta -->
	  <meta name="author" content="colorlib">
	  <!-- Meta Description -->
	  <meta name="description" content="">
	  <!-- Meta Keyword -->
	  <meta name="keywords" content="">
	  <!-- meta character set -->
	  <meta charset="UTF-8">

</head>

<!--HTML -->

<body>

	<!-- EDUCATION -->

	<div class="page2" id="secondpage">

			<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h4>
					<center>
					<img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Education%2C_Studying%2C_University%2C_Alumni_-_icon.png" width="200">
					</center>
				</h4>
				<ul class="timeline">
					<li>
						<a>Elementary School</a>
						<a class="float-right">2005</a>
						<p>SDS YBBSU Balikpapan <br>SDN Sukabumi Selatan 03 pagi</p>
					</li>
					<li>
						<a>Secondary School</a>
						<a class="float-right">2011</a>
						<p>SMPN 19 Jakarta<br>SMPN 12 Surabaya<br>SMPN 7 Medan</p>
					</li>
					<li>
						<a>High School</a>
						<a class="float-right">2014</a>
						<p>SMAN 1 Medan<br>SMAN 70 Jakarta</p>
					</li>
					<li>
						<a>University</a>
						<a class="float-right">2017</a>
						<p>Universitas Indonesia</p>
					</li>
				</ul>
			</div>
		</div>
	</div>

	</div>

</body>
</html>