{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Blog</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% include "navbar.html" %}
	{% include "socialbar.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'stylestory3.css' %}" />


	<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/nice-select.css">			
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/main.css">

	<!-- Mobile Specific Meta -->
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- Favicon-->
	 <link rel="shortcut icon" href="img/fav.png">
	  <!-- Author Meta -->
	  <meta name="author" content="colorlib">
	  <!-- Meta Description -->
	  <meta name="description" content="">
	  <!-- Meta Keyword -->
	  <meta name="keywords" content="">
	  <!-- meta character set -->
	  <meta charset="UTF-8">

</head>

<!--HTML -->

<body>

	<div class="page3" id="thirdpage">

		<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span></span>
                </div>
                <div class="info">
                    <h3 class="text-center">SKILL</h3>
                    <p><img src="https://ubisafe.org/images/css-transparent-html-6.png" width="150">
			<img src="https://classes.engineering.wustl.edu/cse231/core/images/2/26/Java.png" width="100">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/2000px-Python.svg.png" width="100">
			<img src="https://mbtskoudsalg.com/images/convert-jpg-to-png-transparent-background-photoshop-2.png" width="100"></p>
                </div>
            </div>
        </div>
        
		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		            <div class="box">
		                <div class="box-icon">
		                    <span></span>
		                </div>
		                <div class="info">
		                    <h3 class="text-center">EXPERIENCE</h3>
						<h4>2017-2018</h4>
						<p>- Staff Publication of Universiade University of Indonesia<br>- Vice Person in Charge of Venue and Equipment Computers Get Together<br>- Organizing Comittee Vice President of Program and Partnership JECP AIESEC in UI</p>
						<h4>2018-present</h4>
						<p>- Staff of Media Partner UI Art War<br>- Team Member of International Relations iGE AIESEC in UI<br>- Human Resource Development of Seminar COMPFEST X</p>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</div>
	</div>

</body>
</html>