﻿{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Blog</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% include "navbar.html" %}
	{% include "socialbar.html" %}
	<link rel="stylesheet" type="text/css" href="{% static 'stylestory3.css' %}" />


	<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/nice-select.css">			
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/main.css">

	<!-- Mobile Specific Meta -->
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- Favicon-->
	 <link rel="shortcut icon" href="img/fav.png">
	  <!-- Author Meta -->
	  <meta name="author" content="colorlib">
	  <!-- Meta Description -->
	  <meta name="description" content="">
	  <!-- Meta Keyword -->
	  <meta name="keywords" content="">
	  <!-- meta character set -->
	  <meta charset="UTF-8">

</head>

<!--HTML -->

<body>
		<!-- PROFILE -->
		<div class="jumbotron" id="firstpage">
		<center>
	  <h1 class="display-4">Hello!</h1>
	  <img src="https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/41356489_2086381294729523_8140473243795456000_n.jpg?_nc_cat=0&oh=29be8ffd30f25b2b60eebd4e85dc71f6&oe=5C2EA4FF" width="300">
	  <h2 class="display-4">I'm Falya Aqiela Sekardina</h2>
	  <p class="lead">I am a front-end web developer who wants to know more about Information of Technology, loves to eat, loves to travelling, and socialize with friends.</p>
	  <hr>
		</center>
	</div>

	<!-- EDUCATION -->
	<div class="page2" id="education">
	<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline2">
                        <div class="timeline">
                            <span class="icon fa fa-globe"></span>
                            <a class="timeline-content">
                                <h3 class="title">2017</h3>
                                <h3 class="title">University</h3>
                                <p class="description">
                                    University Indonesia
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <span class="icon fa fa-rocket"></span>
                            <a class="timeline-content">
                                <h3 class="title">2014</h3>
                                <h3 class="title">High School</h3>
                                <p class="description">
                                    <p>SMAN 1 Medan<br>SMAN 70 Jakarta</p>
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <span class="icon fa fa-briefcase"></span>
                            <a class="timeline-content">
                                <h3 class="title">2011</h3>
                                <h3 class="title">Secondary School</h3>
                                <p class="description">
                                    <p>SMPN 19 Jakarta<br>SMPN 12 Surabaya<br>SMPN 7 Medan</p>
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <span class="icon fa fa-mobile"></span>
                            <a class="timeline-content">
                                <h3 class="title">2005</h3>
                                <h3 class="title">Elementary School</h3>
                                <p class="description">
                                    <p>SDS YBBSU Balikpapan <br>SDN Sukabumi Selatan 03 pagi</p>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
	</div>

	<div class="page3" id="experience">

		<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                    <span></span>
                </div>
                <div class="info">
                    <h3 class="text-center">SKILL</h3>
                    <p><img src="https://ubisafe.org/images/css-transparent-html-6.png" width="150">
			<img src="https://classes.engineering.wustl.edu/cse231/core/images/2/26/Java.png" width="100">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/2000px-Python.svg.png" width="100">
			<img src="https://mbtskoudsalg.com/images/convert-jpg-to-png-transparent-background-photoshop-2.png" width="100"></p>
                </div>
            </div>
        </div>
        
		        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		            <div class="box">
		                <div class="box-icon">
		                    <span></span>
		                </div>
		                <div class="info">
		                    <h3 class="text-center">EXPERIENCE</h3>
						<h4>2017-2018</h4>
						<p>- Staff Publication of Universiade University of Indonesia<br>- Vice Person in Charge of Venue and Equipment Computers Get Together<br>- Organizing Comittee Vice President of Program and Partnership JECP AIESEC in UI</p>
						<h4>2018-present</h4>
						<p>- Staff of Media Partner UI Art War<br>- Team Member of International Relations iGE AIESEC in UI<br>- Human Resource Development of Seminar COMPFEST X</p>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</div>
	</div>

	<div class="contactform" id="contact">
		<section id="contact">
			<div class="section-content">
				<h1 class="section-header" style="font-style: italic;">Thank You for Visiting Me!</span></h1>
			</div>
			<div class="contact-section">
			<div class="container">
				<form>
					<div class="row">
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">Your name</label>
					    	<input type="text" class="form-control" id="" placeholder=" Enter Name">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Email Address</label>
					    	<input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
					  	</div>	
					  	<div class="form-group">
					    	<label for="telephone">Mobile No.</label>
					    	<input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
			  			</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Date</label>
			  				<br>
			  			 	<input type="Date" name="date">
			  			</div>
			  			<div class="form-group">
			  				<label for ="description"> Message</label>
			  			 	<textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div>
			  				<button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
			  			</div>			  			
					</div>
					</div>
				</form>
			</div>
		</section>
	</div>



</body>
</html>