{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Personal Blog</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'stylestory3.css' %}" />


	<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/nice-select.css">			
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/main.css">

	<!-- Mobile Specific Meta -->
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <!-- Favicon-->
	 <link rel="shortcut icon" href="img/fav.png">
	  <!-- Author Meta -->
	  <meta name="author" content="colorlib">
	  <!-- Meta Description -->
	  <meta name="description" content="">
	  <!-- Meta Keyword -->
	  <meta name="keywords" content="">
	  <!-- meta character set -->
	  <meta charset="UTF-8">

</head>

<!--HTML -->

<body>

	<nav class="social">
          <ul>
              <li><a href="https://www.facebook.com/falyaaqiela.sekardina"><i class="fa fa-facebook"></i><b>Facebook</b></a></li>
              <li><a href="https://twitter.com/falya_sekardina"><i class="fa fa-twitter"></i><b>Twitter</b></a></li>
              <li><a href="https://www.linkedin.com/in/falyasekardina"><i class="fa fa-linkedin"></i><b>LinkedIn</b></a></li>
              <li><a href="https://www.instagram.com/falyasekardina/?hl=en"><i class="fa fa-instagram"></i><b>Instagram</b></a></li>
          </ul>
      </nav>

</body>
</html>