
h1{
	font-size: 80px;
	color: black;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
}

p{
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

hr{
	background-color: white;
	width: 90%;
	float: left;
}

/* PROFIL UTAMA*/
.jumbotron{
	background-image: url("https://scontent.fjkt1-1.fna.fbcdn.net/v/t1.0-9/42130567_2097316410302678_2658966535866941440_n.jpg?_nc_cat=0&oh=57021b20f70e548dd277e99b54ba8212&oe=5C2E4142");
	margin: 0%;
	border: 0%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.addproject{
  padding: 15px;
  margin: 0%;
  height: 100%;
  background-image: linear-gradient(to right top, #051937, #00283b, #073536, #2b3e34, #44473c);
  /*background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&h=350);*/
  background-position: 50% 50%;
}

#firstpage h1, h2{
	color: white;
	margin-top: 0%;
}

#firstpage img{
	border-radius: 50%;
}

#firstpage hr{
	text-align: center;
}

/* SECOND PAGE*/
.page2{
	padding: 15px;
	margin: 0%;
	height: 100%;
	background: lightslategrey;  /* fallback for old browsers */
	/*background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&h=350);*/
	background-position: 50% 50%;
}

#secondpage h1{
	color: white;
}

#secondpage h1{
	font-style: italic;
}

.pageform{
  padding: 15px;
  margin: 0%;
  height: 100%;
  background-image: linear-gradient(to right top, #051937, #00283b, #073536, #2b3e34, #44473c);
  /*background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&h=350);*/
  background-position: 50% 50%;
}

.page3{
	padding: 100px;
	margin: 0%;
	color: white;
	background-color: grey;
	height: 100%;
}

.page4{
	padding: 100px;
	margin: 0%;
	color: white;
	background-color: grey;
	height: 100%;
}

/*NAVBAR*/
.navbar{
	padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background-color: black;
}

.navbar a{
	color: white;
	display: inline-block;
	text-align: center;
	padding: 5px 6px;
	font-size: 15px;
}

.navbar a:hover{
	color: white;
}

.profil{
	margin-left: 60%;
}

#me{
    border-radius: 50%;
    margin-top: 30%;
}
/*Social Media*/


.social {
    position: fixed;
    top: 20%;
    right:0px;
}

.social ul {
  padding: 0px;
  -webkit-transform: translate(270px, 0);
  -moz-transform: translate(270px, 0);
  -ms-transform: translate(270px, 0);
  -o-transform: translate(270px, 0);
  transform: translate(270px, 0);
}

.social ul li {
    display: block;
    margin: 3px;
    background: rgba(171, 219, 209, 0.36);
    width: 300px;
    text-align: left;
    padding: 5px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
  -webkit-transform: translate(-110px, 0);
  -moz-transform: translate(-110px, 0);
  -ms-transform: translate(-110px, 0);
  -o-transform: translate(-110px, 0);
  transform: translate(-110px, 0);
  background: rgba(173, 178, 177, 0.4);
}

.social ul li:hover a {
  color: #000;
}

.social ul li:hover i {
  color: #fff;
  background: #16a085;
}

.social ul li i {
  margin-right: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

}

 /*timeline education*/

 ul.timeline {
    list-style-type: none;
    position: relative;
    color: white;
    font-style: bold;
}
ul.timeline:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #476b6b;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*experience*/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {padding-top:50px;}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    margin-top: 60px;
    background-color: #B0C4DE;
}
.box-icon {
    background-color: #000428;
    border-radius: 50%;
    display: table;
    height: 70px;
    margin: 0 auto;
    width: 70px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
		color: black;
}

.info h3{
	font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}

.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

.contactform{
	margin: 0%;
	color: white;
	background-color: grey;
	height: 100%;
}

.contactform h1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	color: white;
}

.addproject{
  margin: 0%;
  color: white;
  background-color: grey;
  height: 100%;
}


/*Contact Form*/

/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
#contact{
    
    font-family: Arial, Helvetica, sans-serif;
  padding-top: 60px;
  width: 100%;
  background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color : #fff;
  margin-left: 0px;
  margin-right: 0px;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}





